<!-- <div *ngIf="!isSignedIn">
  <h2>signup</h2>
  <input type="text" #emailSignup/>
  <input type="text" #passwordSignup/>
  <input type="text" #nameSignup/>
  <input type="text" #phoneSignup/>
  <button (click)="onSignup(emailSignup.value,passwordSignup.value,nameSignup.value,phoneSignup.value)">Sign up </button>
</div>
<hr>
<div *ngIf="!isSignedIn">
  <h2>sign in</h2>
  <input type="text" #email>
  <input type="text" #password>
  <button (click)="onSignin(email.value,password.value)">Sign in</button>
</div>

<app-home *ngIf="isSignedIn" (islogout)="handleLogout()" ></app-home> -->

<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/login">Login</a>
    <a class="nav-item nav-link" routerLink="/register">Register</a>
</div>
</nav>
<div class="container-fluid h-100 bg-light text-dark">
  <router-outlet></router-outlet>
</div>