
.timer-seconds{
    margin-top:50px;
    margin-bottom: 50px;
}
.timer-card{
    margin-top: 50px;
}
#submitButton{
    margin-right: 20px;
}
#pauseButton{
    margin-right: 20px;
}
.timer-template-card{
    margin-top: 50px;
}
.template-button{
    padding: 15px 10px 15px 10px;
    width:300px;
}