#submitButton{
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}
#pauseButton{
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}
#timer{
    padding: 10px 10px 10px 10px;
    margin: 100px 50px 100px 200px;
}
#resetButton{
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}