
.timer-seconds{
    margin-top:50px;
    margin-bottom: 50px;
}
.timer-card{
    margin-top: 50px;
}
#submitButton{
    margin-right: 20px;
}
#pauseButton{
    margin-right: 20px;
}
.timer-template-card{
    margin-top: 50px;
}
.template-button{
    padding: 15px 10px 15px 10px;
    width:300px;
}
.shareTimerForm{
    margin-top: 50px;}
#shareButton{
    margin-left: 10px;;
}
.shareEmailLabel{
    margin-right: 150px;
    align-content: flex-end;
}
#shareEmailAddress{
    margin-right: 160px;
}